name: Matrix demo
on: push
jobs:
  build:
    strategy:
        matrix:
            node-version: [16, 18, 20]
            os: [ubuntu-latest, windows-latest]
            include:
               - node-version: 22
                 os: ubuntu-laest
            exclude:
               - node-version: 16
                 os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
        - name: Get code
          uses: actions/checkout@v4
        - name: Install Node
          uses: actions/setup-node@v4
          with:
            node-version: ${{ matrix.node-version }}
        - name: Install dependencies
          run: npm ci
        - name: Build Project
          run: npm run build